tensorflow==2.12.0
deepface==0.0.79
opencv-python
mtcnn
retina-face
face-recognition
numpy
pandas
Pillow
requests
tqdm
gdown
flask
flask_cors
fastapi
uvicorn[standard]
python-multipart
torch
torchvision
openvino